<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/head :: head"></div>
<body>
<div id="layout-wrapper">
    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/left-menu :: menu"></div>
    <!-- ============================================================== -->
    <!-- Start right Content here -->
    <!-- ============================================================== -->
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0">Manage Financial Year</h4>
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Home</a></li>
                                    <li class="breadcrumb-item active">Financial Year</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <input id="year_id" type="hidden">
                    <div class="col-lg-12">
                        <div id="" class="custom-accordion">
                            <div class="card">
                                <div class="p-4 border-top">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="mb-3">
                                                <label class="form-label" for="search_key">Keyword</label>
                                                <input id="search_key" name="src_key" type="text"
                                                       class="form-control" placeholder="Search by Financial Year">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <div>
                                                    <label class="form-label" for="searchBtn" style="color: white">Keyword</label><br>
                                                    <input class="btn btn-primary btn-flat" id="searchBtn"
                                                           type="button" value="Search">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <label class="card-label"><i>Financial Year Details</i></label>
                                <div class="p-4 border-top">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="year">Financial Year</label>
                                                <input id="year" name="year" type="text"
                                                       class="form-control" placeholder="Financial Year">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="year_start_date">Year Start
                                                    Date</label>
                                                <input id="year_start_date" name="year_start_date" type="date"
                                                       class="form-control" placeholder="Year Start Date">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label" for="year_end_date">Year End
                                                    Date</label>
                                                <input id="year_end_date" name="year_end_date" type="date"
                                                       class="form-control" placeholder="Year End Date">
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-3">
                                                <label class="form-label"
                                                       for="year_status">Status</label>
                                                <select class="form-select" id="year_status">
                                                    <option value="NOT_SELECTED">Select a Status</option>
                                                    <option value="ACTIVE">Active</option>
                                                    <option value="INACTIVE">Inactive</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="mb-3">
                                            <div>
                                                <label class="form-label"
                                                       style="color: white">Keyword</label><br>
                                                <input class="btn btn-primary btn-flat" id="saveUpdateYearBtn"
                                                       type="button" value="Create">
                                                <input class="btn btn-success btn-flat" id="restYearBtn"
                                                       type="button" value="Reset">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="box box-default">
                                    <div class="box-body">
                                        <div>
                                            <div class="table table-bordered table-hover table-responsive display nowrap">
                                                <table class="table table-hover table-striped"
                                                       id="year_table">
                                                    <thead>
                                                    <tr>
                                                        <th>Financial Year</th>
                                                        <th>Start Date</th>
                                                        <th>End Date</th>
                                                        <th>Status</th>
                                                        <th>Action</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>

                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div> <!-- end row -->
                <!-- end main content-->
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer-js :: js"></div>
<script src="/superAdminDashboard/js/module/common.js"></script>
<script src="/superAdminDashboard/js/module/year.js"></script>
</body>
</html>