<div class="js" th:fragment="js" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="rightbar-overlay"></div>
    <!-- JAVASCRIPT -->
    <script src="https://code.iconify.design/1/1.0.7/iconify.min.js"></script>
    <script src="/superAdminDashboard/libs/jquery/jquery.min.js"></script>
    <script src="/superAdminDashboard/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/superAdminDashboard/libs/metismenu/metisMenu.min.js"></script>
    <script src="/superAdminDashboard/libs/simplebar/simplebar.min.js"></script>
    <script src="/superAdminDashboard/libs/node-waves/waves.min.js"></script>
    <script src="/superAdminDashboard/libs/waypoints/lib/jquery.waypoints.min.js"></script>
    <script src="/superAdminDashboard/libs/jquery.counterup/jquery.counterup.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!-- apexcharts -->
    <script src="/superAdminDashboard/libs/apexcharts/apexcharts.min.js"></script>
    <script src="/superAdminDashboard/js/pages/dashboard.init.js"></script>
    <!-- App js -->
    <script src="/superAdminDashboard/js/app.js"></script>

    <!-- Buttons examples -->
    <script src="/superAdminDashboard/libs/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js"></script>
    <script src="/superAdminDashboard/libs/jszip/jszip.min.js"></script>
    <script src="/superAdminDashboard/libs/pdfmake/build/pdfmake.min.js"></script>
    <script src="/superAdminDashboard/libs/pdfmake/build/vfs_fonts.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-buttons/js/buttons.colVis.min.js"></script>
    
    <!-- Required datatable js -->
    <script src="/superAdminDashboard/libs/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>

    <!-- Responsive examples -->
    <script src="/superAdminDashboard/libs/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/superAdminDashboard/libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>

    <!-- Datatable init js -->
    <script src="/superAdminDashboard/js/pages/datatables.init.js"></script>
</div>
