<div class="airlineAuditData" th:fragment="airlineAuditData" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="row">
        <div class="col-lg-12">
            <div id="" class="custom-accordion">






            </div>
        </div>
    </div>
    <hr/>
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <div class="box box-default">
                        <div class="box-body">
                            <div>
                                <div class="table table-bordered table-hover table-responsive display nowrap">
                                    <table class="table table-hover table-striped" id="airline_user_table">
                                        <thead>
                                        <tr>
                                            <!--<th>User Name</th>
                                            <th>User Role</th>
                                            <th>Created On</th>
                                            <th>Updated On</th>
                                            <th>Last Access</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end col -->
    </div> <!-- end row -->
</div>
